<!--templates/registration/login-->
{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block titulo  %}  - Acceso {% endblock titulo %}

{% block contenido %}

<h2>Acceso</h2>
<form action="" method="post" style="padding-bottom: 20pt;">{% csrf_token %}

    {{form|crispy}}
    <button type="submit" class="btn btn-success ml-2">Entrar (Iniciar sesion)</button>
</form>
<a href="{% url 'signup' %}" class="btn btn-outline-white btn-primary">Crear cuenta</a>
<p>
<a href="{% url 'password_reset' %}">Olvido su contraseña</a>
</p>

{% endblock contenido %}