<!-- templates/registrarion/password_reset_form.html -->
<!-- 
    password_reset_form
    password_reset_done
    password_reset_confirm
    password_reset_complete
-->
{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block titulo %} ¿Olvidó su contraseña? {% endblock titulo %}

{% block contenido %}
<div class="mx-auto w-50">    
    <h1>¿Olvidó su contraseña?</h1>
    <p>
        Introduzca su dirección de email abajo, y le enviaremos un mail con instrucciones
        para reestablecer su contraseña
    </p>
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success w-100" value="Envíenme las instrucciones">
    </form>
</div>
{% endblock contenido %}