<!-- templates/registration/password_change_form -->
{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block titulo %} Cambiar contraseña {% endblock titulo %}

{% block contenido %}
<h1>Cambiar contraseña</h1>
<p>
    Por favor introduzca su contraseña anterior, por razones de seguridad, introduzca 2 veces su contraseña 
    para verificar su correcta escritura
</p>

<form method="post">{% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-success w-100" value="Cambiar mi contraseña">
</form>

{% endblock contenido %}