<!--templates/acercade.html--->
{% extends "_base.html"%}
{% load static %}
{% block contenido %}

<div>
<h2 text-align="center">Empresa orgullosamente lagunera, creada y dirigida por Omar Tapia</h2>
<hr>
<h3 text-align="center">Nuestra Visión</h3>
    <h3 text-align="center">"Ser líderes en la transformación digital, impulsando la innovación a través de soluciones de software excepcionales que inspiren el progreso en todas las industrias y mejoren la calidad de vida."</h3>
     <p> <img src="/media/Empresa.jpeg" alt="image"></p>  
     <hr>
       <p>Desarrollo de Productos Innovadores: Lanzar al menos dos productos de software innovadores que aborden las necesidades emergentes del mercado.
    <hr>
        Expansión del Mercado Local: Aumentar la presencia en el mercado local mediante al menos un 20%, colaborando estrechamente con empresas locales.
    <hr>
        Desarrollo del Talento: Implementar programas de capacitación continua para el equipo, asegurando que todos estén actualizados con las últimas tecnologías y metodologías de desarrollo.
    <hr> 
        Mejora Continua de la Calidad: Implementar un sistema de gestión de calidad para mejorar constantemente la eficiencia del desarrollo y garantizar productos de alta calidad.</p>
</div>
    <hr>
{% endblock contenido %}