<!-- templates/footer.html -->
<footer class="bg-light text-dark py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center"> <!-- Aplicar la clase text-center aquí -->
                <h3 class="mb-4">Redes Sociales</h3>
                <a href="https://www.facebook.com/" target="_blank" rel="noopener" class="btn btn-outline-primary me-2">Facebook</a>
                <a href="https://twitter.com/?lang=es" target="_blank" rel="noopener" class="btn btn-outline-info me-2">X</a>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener" class="btn btn-outline-danger">Instagram</a>
            </div>
            <div class="col-lg-6">
                <h3 class="mb-4">¡Somos una empresa orgullosamente lagunera 🌞!</h3>
                <p>¡Bienvenido a nuestro sitio web, estamos felices de tenerte! {{user.username}}</p>
            </div>
        </div>
    </div>
</footer>
