<!--templates/login.html--->
{% extends '_base.html' %}
{% load static %}
{% load socialaccount %}

{% block contenido %}
  {% providers_media_js %}

  <div class="login-container">

    {% if user.is_authenticated %}
    <div class="welcome-message">
      <p>¡Bienvenido, {{ user.username }} 😃!</p>
      <nav></nav>
    </div>
    {% else %}

    <div class="text-center">
      <h2>Iniciar sesión</h2>
      <a href="{% url 'login' %}" class="btn btn-outline-white btn-danger">
          <img src="{% static 'isesion.png' %}" alt="Google Icon">
          Iniciar sesión
      </a>
  
      <h2>Iniciar sesión con Google</h2>
      <a href="{% provider_login_url 'google' %}" class="google-btn">
          <img src="{% static 'google.png' %}" alt="Google Icon">
          Iniciar sesión con Google
      </a>
    </div>

    {% endif %}
  </div>
{% endblock contenido %}
