<!-- templates/lista_articulos -->
{% extends "_base.html" %}

{% load static %}
{% block titulo %}Articulos{% endblock titulo %}
{% block contenido %}
<h1><p text-align="center"">Articulos</p></h1>
<hr>
<h2>Hola 👋🏼 {{user.username}}</h2>
    <div class="row">
        {% for articulo in articulo_list %}
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <h3 class="font-weight-bold link-dark">
                            <a href="{% url 'detalle_articulo' articulo.pk %}"  class="navbar-brand">
                                {{ articulo.titulo }}
                            </a>
                        </h3>
                        <h6 class="text-muted"><p text-align="center">{{ articulo.categoria }} | {{ articulo.genero }} | {{ articulo.fecha }}</p></h6>
                    </div>
                    <div class="card-body">
                    {% if articulo.imagen %}
                        <div style="text-align: center;">
                         <a href="{% url 'detalle_articulo' articulo.pk %}"> <img src="{{ articulo.imagen.url }}" alt="image"> </a>
                        </div>
                     {% endif %}
                       <p text-align="center"> {{ articulo.cuerpo }}</p>
                    </div>
              
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock contenido %}